// @font-face {font-family: fa;   src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: consola;   src: url(../fonts/consola.ttf);}
@font-face {font-family: consolab;  src: url(../fonts/consolab.ttf);}
@font-face {font-family: consolai;  src: url(../fonts/consolai.ttf);}
@font-face {font-family: consolaz;  src: url(../fonts/consolaz.ttf);}
@font-face {font-family: cyrillic;  src: url(../fonts/CyrillicOld_Bold.ttf);}
@font-face {font-family: futura;    src: url(../fonts/FuturaPT-Book.ttf);}
@font-face {font-family: gost;      src: url(../fonts/GOST_Type_AU.ttf);}