// ↓↓↓ BEM-blocks: footer (start) ↓↓↓

//- style
//-   include footer.css

.footer
  .footer-section1-wrapper
    section.footer-section1
      img(src="assets/img/f-visa.png", alt="f-visa.png")
      img(src="assets/img/f-mastercard.png", alt="f-pmastercard.png")
      img(src="assets/img/f-maestro.png", alt="f-maestro.png")
      img(src="assets/img/f-bankwire.png", alt="f-bankwire.png")
      img(src="assets/img/f-neteller.png", alt="f-neteller.png")
      img(src="assets/img/f-scrill.png", alt="f-scrill.png")
      img(src="assets/img/f-webmoney.png", alt="f-webmoney.png")
      img(src="assets/img/f-payu.png", alt="f-payu.png")
      img(src="assets/img/f-qiwi.png", alt="f-qiwi.png")
  .footer-nav-wrapper
    section.footer-nav
      .footer-nav__column
        h5.footer-nav__column-header PrimeTime Finance
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="#").footer-nav__link About the company
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Account Types
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Contacts
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Verification
      .footer-nav__column
        h5.footer-nav__column-header Documentation
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Customer agreement
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Privacy policy
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Notification of risks
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Denial of responsibility
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Return policy
          li.footer-nav__column-list-item: a(href="#").footer-nav__link AML and KYC Policy
      .footer-nav__column
        h5.footer-nav__column-header Account
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Open an account
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Restore password
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Feedback
      .footer-nav__column
        h5.footer-nav__column-header Our partners
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="https://www.tradingview.com").footer-nav__link TradingView
          li.footer-nav__column-list-item: a(href="https://www.investing.com").footer-nav__link Investing
          li.footer-nav__column-list-item: a(href="https://www.blockchain.com").footer-nav__link Blockchain
          li.footer-nav__column-list-item: a(href="https://www.cbr.ru").footer-nav__link Центробанк РФ
  .footer-info-wrapper
    section.footer-info
      p
        strong Risk Warning:
        |
        | The operations offered by this site may be carried out exclusively by adults (aged 18 years), who have reached full capacity. Transactions with financial instruments offered on this site may be considered as transactions with a high level of risk. Possible partial or complete loss of funds during such operations. Accordingly, it is strongly recommended not to invest and not to trade funds, the loss of which in the event of adverse results of such trades you can not afford.

      p The site https://XXX.com and the brand XXX is a trademark and property of an international business company in the Financial Services Authority XXX LTD. Suite 305, Griffith Corporate Centre, P.O. Box 1510, Beachmont, Kingstown, St. Vincent and The Grenadines

      p We recommend that you carefully read our Legal Documentation: Customer Agreement, Privacy Policy, Risk Disclaimer, Disclaimer, Refund Policy, AML Policy and KYC, before proceeding to perform operations on this site.

      p The company and the website https://XXX.com do not provide any services to citizens and residents of the United States, Canada, Australia, Israel, Syria, Sudan, Iran, North Korea, Japan and other countries, and jurisdictions where these services cannot be provided in connection with current legislation or certain restrictions.
      p © 2019 XXX LTD. All rights are registered. 18+

script
  include ../minjs/footer/footer.js

// ↑↑↑ BEM-blocks: footer (end) ↑↑↑