// ↓↓↓ BEM-blocks: footer (start) ↓↓↓

//- style
//-   include footer.css

.footer
  .footer-section1-wrapper
    section.footer-section1
      img(src="assets/img/f-visa.png", alt="f-visa.png")
      img(src="assets/img/f-mastercard.png", alt="f-pmastercard.png")
      img(src="assets/img/f-maestro.png", alt="f-maestro.png")
      img(src="assets/img/f-bankwire.png", alt="f-bankwire.png")
      img(src="assets/img/f-neteller.png", alt="f-neteller.png")
      img(src="assets/img/f-scrill.png", alt="f-scrill.png")
      img(src="assets/img/f-webmoney.png", alt="f-webmoney.png")
      img(src="assets/img/f-payu.png", alt="f-payu.png")
      img(src="assets/img/f-qiwi.png", alt="f-qiwi.png")
  .footer-nav-wrapper
    section.footer-nav
      .footer-nav__column
        h5.footer-nav__column-header PrimeTime Finance
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="#").footer-nav__link О компании
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Типы аккаунтов
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Контакты
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Верификация
      .footer-nav__column
        h5.footer-nav__column-header Документация
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Клиентское соглашение
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Политика конфиденциальности
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Уведомление о рисках
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Отказ от ответственности
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Политика возврата
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Политика AML и KYC
      .footer-nav__column
        h5.footer-nav__column-header Учетная запись
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Зарегистрироваться
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Восстановить пароль
          li.footer-nav__column-list-item: a(href="#").footer-nav__link Обратная связь
      .footer-nav__column
        h5.footer-nav__column-header Наши партнеры
        ul.footer-nav__column-list
          li.footer-nav__column-list-item: a(href="https://www.tradingview.com").footer-nav__link TradingView
          li.footer-nav__column-list-item: a(href="https://www.investing.com").footer-nav__link Investing
          li.footer-nav__column-list-item: a(href="https://www.blockchain.com").footer-nav__link Blockchain
          li.footer-nav__column-list-item: a(href="https://www.cbr.ru").footer-nav__link Центробанк РФ
  .footer-info-wrapper
    section.footer-info
      p
        strong Предупреждение о рисках:
        |
        | Операции, предлагаемые данным сайтом, могут совершаться исключительно совершеннолетними лицами (в возрасте с 18 лет), которые достигли полной дееспособности. Операции с финансовыми инструментами, предлагаемыми на этом сайте, могут рассматриваться как операции с высоким уровнем риска. Возможна частичная или полная потеря средств при проведении таких операций. Соответственно, настоятельно рекомендуется не инвестировать и не торговать средствами, потерю которых в случае неблагоприятных результатов таких торгов вы не можете себе позволить.

      p Сайт
        |
        |
        span.company-site
        |
        | и бренд
        |
        span.company-brand
        |
        | - являются товарным знаком и собственностью международной бизнес компании в Управлении по финансовым услугам
        |
        span.company-name
        |
        |
        span.company-address
        | .

      p Мы рекомендуем вам внимательно прочитать нашу Юридическую документацию: Клиентское соглашение, Политику конфиденциальности, Уведомление о рисках, Отказ от ответственности, Политику возврата, Политику AML и KYC, прежде чем приступить к выполнению операций на этом сайте.

      p Компания и веб-сайт
        |
        |
        span.company-site
        |
        | не оказывают никаких услуг гражданам и резидентам США, Канады, Австралии, Израиля, Сирии, Судана, Ирана, Северной Кореи, Японии и других стран, и юрисдикциям, где эти услуги не могут быть предоставлены в связи с действующим законодательством или определенными ограничениями.
      p © 2019
        |
        |
        span.company-name
        |
        | Все права зарегистрированы. 18+

script
  include ../minjs/footer/footer.js

// ↑↑↑ BEM-blocks: footer (end) ↑↑↑