.footer {
  font: 16px f;
}

.footer-section1-wrapper {
  width: 100%;
  background-color: #172d3b;
}

.footer-section1-wrapper .footer-section1 {
  max-width: 1130px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.footer-section1-wrapper .footer-section1 img {
  margin: 10px 0;
}

.footer-section1-wrapper .footer-section1 img:not(:last-of-type) {
  margin-right: 10px;
}

.footer-nav-wrapper {
  width: 100%;
  background-color: #254456;
  padding: 20px 0;
}

.footer-nav-wrapper .footer-nav {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12px;
}

.footer-nav-wrapper .footer-nav__column-header {
  color: white;
  border-bottom: 2px solid #445e6e;
  text-align: center;
  width: 100%;
}

.footer-nav-wrapper .footer-nav__link {
  color: #a3b5c0;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-info-wrapper {
  width: 100%;
  background-color: #172d3b;
}

.footer-info-wrapper .footer-info {
  max-width: 1130px;
  margin: 0 auto;
  color: #a4b7c3;
  padding: 20px 15px 0;
  text-align: left;
}

.footer-info-wrapper .footer-info p:last-of-type {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #254456;
}

@media screen and (min-width: 576px) {
  .footer-nav-wrapper .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-nav-wrapper .footer-nav__column-header {
    text-align: left;
    width: 90%;
  }
  .footer-nav-wrapper .footer-nav__link {
    text-align: left;
  }
  .footer-info-wrapper .footer-info {
    text-align: justify;
  }
}

@media screen and (min-width: 1000px) {
  .footer-section1-wrapper .footer-section1 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav-wrapper .footer-nav {
    grid-template-columns: repeat(4, 1fr);
  }
}
