// ↓↓↓ BEM-blocks: search (start) ↓↓↓

style
  include search.css

.search__wrapper
  input.search__input
  button.search__button(type='button') знайти


script
  include ../minjs/search/search.js

// ↑↑↑ BEM-blocks: search (end) ↑↑↑