// ↓↓↓ BEM-blocks: start-fullscreen-button (start) ↓↓↓

style
  include start-fullscreen-button.css

.start-fullscreen-button-wrapper1
  .start-fullscreen-button-wrapper2
    h2.start-fullscreen-button__header Телефонна книга
    button.start-fullscreen-button увійти
    img.start-fullscreen-button__loader(src="assets/img/giphy.gif", alt="")

script
  include ../minjs/start-fullscreen-button/start-fullscreen-button.js

// ↑↑↑ BEM-blocks: start-fullscreen-button (end) ↑↑↑